<nav class="navbar is-transparent">
  <div id="navbarExampleTransparentExample" class="navbar-menu container">
    <div class="navbar-start">
      <a class="navbar-item is-small" href="#">
        <span class="icon is-small">
          <i class="fa fa-align-justify"></i>
        </span>
        <span>Section</span>
      </a>
      <a class="navbar-item is-small" href="#">
        <span class="icon is-small">
          <i class="fa fa-search"></i>
        </span>
        <span>Search</span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary subscribe-button" routerLink="/subscribe">
              Subscribe Now
            </a>
          </p>
          <p *ngIf="!user" class="control">
            <a class="button is-primary login-button" routerLink="/login">
              Login
            </a>
          </p>
          <p *ngIf="user" class="control">
            <a class="button is-primary login-button" (click)="logout()">
              Logout
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://g1.nyt.com/assets/homepage/20180614-182902/images/foundation/logos/nyt-logo-379x64.svg" alt="NY Times"
        width="300">
    </a>
  </div>
</nav>
