.footer a {
  font-size: 12px;
  text-transform: capitalize;
  color: #333;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
}

.footer span {
  font-size: 12px;
  text-transform: capitalize;
  color: #333;
  display: inline-block;
}

.footer a:nth-child(1) {
  padding-left: 0px;
}

.footer a:nth-last-child(1) {
  padding-right: 0px;
  border-right: none;
}
