<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column"></div>
    <div class="column">
      <h2 class="column-title">Login</h2>
      <p>Don't have an account? Create One</p>
      <br>
      <div class="btn-group">
        <button class="button" (click)="loginWithGoogle()">
          <span>Login with Google</span>
          <span class="icon">
            <i class="fa fa-google"></i>
          </span>
        </button>
      </div>

      <br>
      <form #f="ngForm" (ngSubmit)="submit(f)">
        <div class="field">
          <div class="control">
            <input type="email" ngModel name="email" #email="ngModel" class="input" placeholder="Username or Email" required>
          </div>
          <div class="help is-danger" *ngIf="email.touched && !email.valid">
            <p *ngIf="email.errors.required">Email is Required</p>
          </div>

        </div>

        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input type="password" ngModel name="password" #password="ngModel" class="input" placeholder="Password" required>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
            <span class="icon is-small is-right" *ngIf="password.touched && !password.valid">
              <i class="fa fa-exclamation-triangle"></i>
            </span>
          </div>
          <div class="help is-danger" *ngIf="password.touched && !password.valid">
            <p *ngIf="password.errors.required">Password is Required</p>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox"> Remember Me
            </label>
            <a href="#" class="text-right">Forgot Password</a>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
</div>
